.cart_title {
  text-align: center;
  margin-top: 30px;
  color: #0c713d;
}
.icon_cart {
  margin-right: 20px;
}
.cart_cover {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.delivery_contaier {
  margin-top: 50px;
  padding: 50px 0px 0px 200px;
}
.delivery_wrapper > h2 {
  text-decoration: underline;
  text-decoration-color: #0c713d;
}
.delivery_wrapper > Input {
  width: 60%;
  margin-bottom: 20px;
}
.delivery_wrapper {
  margin-bottom: 20px;
}
.delivery_cash {
  margin: 15px 0px;
  border-bottom: 1px solid #cacaca;
  width: 460px;
  margin-right: 40%;
  align-items: center;
}
.wrapper_cash {
  margin-bottom: 10px;
}
.wrapper_cash > h2 {
  text-decoration: underline;
  text-decoration-color: #0c713d;
}
.delivery_card {
  align-items: center;
}
.icon_cash {
  margin: 0 5px 0 10px;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}
.cardd {
  margin-bottom: 30px;
}
.icon_cardd {
  margin: 0 5px 0 10px;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}
/* Empty cart */
.empty_cart_container {
  padding: 250px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #999999;
  font-style: italic;
}
.empt_cart_message {
  margin: 1px 0px;
  font-size: 20px;
}
.Link {
  text-decoration: underline;
  color: #0c713d;
}
