.container_snack {
    border: 2px solid  #DCDCDC;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
}
.wrapper_snack {
    display: flex;
    justify-content: space-evenly;
}
.snack_price {
    max-width: 40%;
    font-size: 16px;
    padding: 15px 0px;
}
.snack_search {
    max-width: 40%;
    display: flex;
    font-size: 16px;
    border-left: 1px solid #DCDCDC;
    padding: 15px 0px 15px 90px;
    align-items:center
}
.snack_search > input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    margin-left: 15px
}
.snack_item_select_price {
    width: 200px;
    margin-left: 15px
}